/* * {
    border: 1px solid red;
} */

body {
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.one {
    background-color: #1F2937;
    color: white;
    width: 1100px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

a, p {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.main {
    display: flex;
}

#hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.image {
    width: 50%;
    background-color: #848383;
    color: #F9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main button {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px 20px;
    color: #e5e7eb;
    font-weight: bold;
}