* {
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.header,
.hero,
.info,
.testimonial,
.cta,
.footer {
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#logo {
    color: #f9faf8;
    font-size: 24px;
}

.hero .container {
    display: flex;
    margin-bottom: 30px;
}

.hero2 {
    color: #e5e7eb;
    font-size: 18px;
}

#hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 10px 0;
}

.placeholder {
    width: 50%;
    background-color: hwb(0 47% 53%);
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.card {
    flex: 1;
}

.box {
    height: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 5px solid #3882f6;
}

.text {
    text-align: center;
    line-height: 1.6;
    color: rgb(110, 110, 110);
}

.testimonial {
    background-color: #e5e7eb;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin-bottom: 10px;
}

#quote-author {
    font-weight: bolder;
    text-align: right;
    font-size: 18px;
}

.quote {
    max-width: 700px;
    margin: 20px auto;
}