* {
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #1f2937;
}

.header,
.random-info,
.quote,
.action {
    flex: 1
}

.footer {
    flex-shrink: 0;
}